@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "../global.css";
nav {
  /* background-color: red; */
}
nav .content {
  width: 1000px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-family: "Raleway", serif;
  height: 13vh;
  width: 100%;
}

.nav-logo h2 a {
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 2.5rem;
  color: var(--normalb);
}

.nav-logo h2 span {
  color: var(--normalx);
}
.nav-right {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav-links a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--normalb);
  transition: color 0.2s linear;
}
.nav-links a:hover {
  color: var(--normalx);
}
