.about{
 }
.about-content {
  font-family: "Poppins", serif;
  padding: 5rem 0;
}
.about-info {
  display: flex;
  gap: 4rem;
  align-items: center;
   margin-top: 2rem;
}
.about-left {
  flex: 2;
}
.about-left h2 {
  margin-bottom: 1rem;
}
.about-right {
  flex: 1;
}
.about-right div {
  display: flex;
  padding: 5px 0;
}
.about-right div p {
  width: 70px;
}
.about-right div span:nth-of-type(1) {
  padding: 0 5px;
}
.about-right div span a{
 background-color: red;
}
.about-left p{
  margin-bottom: 1rem;
}
.gmailLink{
  color: black;
}