@import "../global.css";
.contact {
  height: 90vh;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  gap: 2rem;
}

.contact-left {
  flex: 1;
  min-width: 300px;
}
.section-title i{
  opacity: 0.3;
}
.contact-left form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-left form div {
  display: flex;
  gap: 0.5rem;
}

.contact-left input,
.contact-left textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-family: "Poppins", serif;
  margin-bottom: 7px;
  border: 1px solid #ddd;
  font-size: 1rem;
  resize: none;
  background: #f9f9f9;
  transition: 0.3s;
  border: none;
  outline: none;
}

.contact-left input:focus,
.contact-left textarea:focus {
  border-color: #2575fc;
  background: #fff;
}

.contact_button {
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: #2575fc;
  letter-spacing: 2px;
  color: white;
  border-radius: 8px;
  width: 200px;
  transition: 0.3s;
  margin-left: auto;
  margin-top: 10px;
  transition: 0.3s linear;
}

.contact_button:hover {
  scale: 1.1;
}
.contact-right {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
  cursor: pointer;
}

.contact-right img {
  width: 90%;
  border-radius: 10px;
  transform: translateY(-2rem);
  border: 1px solid var(--normalx);
}
.contact-right:hover .contact-right img {
  transform: scale(1.1);
}

.contact-left textarea {
  height: 200px;
}

h2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

