@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "../global.css";
header {
}

.header-content {
  height: 85vh;
  display: flex;
  gap: 1.77rem;
  font-family: "Poppins", serif;
  position: relative;
  overflow: hidden;
 }
.cursor {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: red;
  cursor: pointer;
}
.header-content::after {
  position: absolute;
  content: "";
  left: 40%;
  top: 60%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 900px;
  background-color: var(--normalx);
  box-shadow: -1px -17px 197px -41px var(--normalx);
  opacity: 0.1;
  filter: blur(20px);
}
.header-left {
  flex: 1.7;
  display: flex;
  align-items: center;
}
.header-left h2 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.header-socila-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.header-left p {
  padding-right: 9%;
  font-size: 1rem;
}
.header-socila-links button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: var(--normalbb);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.4s linear;
}
.header-socila-links button:hover {
  color: var(--normalx);
}
.contact-btn {
  margin-top: 13px;
}
.header-right {
  flex: 1.3;
  display: grid;
  place-items: center;
}
.header-right .my-photo {
  position: relative;
}
.photo-card {
  position: absolute;
  left: 0;
  top: 0;
  /* background: linear-gradient(to left, #023047, #023057, #023087); */
  background-color: var(--normalw);
  padding: 10px;
  font-size: 1.2rem;
  color: var(--normalb);
  font-weight: bold;
  border-top-left-radius: 8px;
  opacity: 13;
  border-top: 1px solid var(--normalx);
  border-left: 1px solid var(--normalx);
}

.photo-card::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: red;
}
.header-right .my-photo img {
  width: 100%;
  border-radius: 8px;
}
